.social-login
    button.social-login__github
        span
            i.fab.fa-github
        | Continue with Github
    button.social-login__facebook
        span
            i.fab.fa-facebook
        | Continue with Facebook
    button.social-login__kakao
        span
            i.fab.fa-kickstarter-k
        | Continue with Kakao
    button.social-login__naver
        span
            i.fab.fa-neos
        | Continue with Naver